# --- JAVA (Spring Boot / Maven) ---
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.log

# --- ANGULAR (Node.js) ---
node_modules/
dist/
.angular/
.cache/
npm-debug.log*
yarn-error.log*
.vscode/

# --- DOCKER ---
.env

# --- SISTEMA ---
.DS_Store
Thumbs.db